//-
    name: navigation
    description: Markup for the navigation block
    arguments:
        - {object} props - block properties

mixin navigation(data = {})
    .navigation&attributes(attributes)
        #nav
            .container
                .row
                    .col-md-2.col-sm-4.navigation__logo
                        a(href="#") 
                            img(src="./img/logo.png", alt="alt")
                    .col-md-7.col-sm-4.navigation__menu
                        ul.navigation__list
                            each item in data.menu
                                li: a.navigation__links(href=item.link)= item.text
                    .col-md-3.col-sm-4
                        ul.navigation__items
                            each item in data.icons
                                li: a.navigation__icons(href="#")
                                    i(class=`fas fa-${item}`)