/**
 * Styles for the navigation block.
 */
 .navigation {
    // Selector styles
    // TODO: add code
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid gray;

    // @media queries
    // TODO: add code
    @media screen and (max-width:768px) {
        .nafigation{
            display: flex;
        }
        &__logo {
            width: 25%;
        }
        &_social{
            display: block;
            width: 25%;
            padding-left: 0;
            padding-right: 0;
            margin-left: -5px;
        }
        .menu-trigger {
            display: inline !important;
            background-color: transparent;
            cursor: pointer;
            padding: 15px 25px;
            margin-left: 0;
            font-size: 16px;
            border: none;
            outline: none;
            box-shadow: none;
            position: fixed;
            top: 12px;
            text-align: center;
            left: 130px;
        }
        &__menu{
           width: 50%;
        }
        &__menu ul li {
          display:block;
          border-top:1px #79896D solid;
          
        }
        &__links {
            text-align: center;
            margin-right: 10px !important;
        }
        &__menu ul {
          display:none;
          width: 100%;
          top: 77px;
        }
        &__list{
            position: fixed;
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 100%;
            background-color: #9EB5C5;
        }
      }
    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__links{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-family: 'Roboto';
        font-size: 18px;
        margin-right: 25px;
        line-height: 60px;
        &:hover{
            color: #ea0c0c;
            font-weight: 900;
            transition: .3s;
        }
    }
    &__logo{
        margin-top: 12px;
    }
    .menu-trigger{
        display: none;
    }
    &__menu{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    &__list, &__items{
        display: flex;
    }
    .fas{
        background-color: none;
        font-size: 18px;
        width: 10px;
    }

    &__icons {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-family: 'Roboto';
        font-size: 18px;
        margin-right: 30px;
        line-height: 78px;
        
    }

    &__icon{
        display: none;
        width: 45px;
        height: 45px;
        position: relative;
        cursor: pointer;
    }
    

    // Bem modifiers
    // TODO: add code
}
