/**
 * Styles for the offer block.
 */
.offer {
    // Selector styles
    // TODO: add code
    margin-top: 40px;
    margin-bottom: 40px;
    
    .offer_title{
        text-align: center;
        color: #201c37;
        font-family: 'Archivo';
        font-size: 36px;
        font-weight: 400;
        line-height: 64px;
    }
    .offer_slider{
        overflow: hidden;
        width: 100%;

    }
    .offer_slides{
        background-color: #fff;
        max-width: 352px;
        height: 356px;
        margin-left: 10px;
    }

    .descr{
        width: 250px;
    }

    .slick-dots{
        display: flex;
        justify-content: center;

    }
    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
}
