/**
 * Styles for the footer block.
 */
.footer {
    // Selector styles
    // TODO: add code
    
   


    // @media queries
    // TODO: add code 
    @media (max-width: 768px) {
        .footer {
            &__title {
                margin-top: -70px;
            }
            &__subtitle{
               display: none;
            }
            &__email{
                height: 46px;
                width: 330px;
            }
            &__subscribe{
                margin-top: 30px;
            }
            &_block_wrapp{
                display: none;
            }
        }
    }
    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__contacts{
        background-image: url(../img/mail.jpg);
        background-position: center;
        background-size: cover;
        max-width: 100%;
        height: 70vh;
        text-align: center;
        padding-top: 150px;
    }

    &_chapter{
        color: #2b3342;
        font-family: "Archivo";
        font-size: 23px;
        font-weight: 600;
    }
    &__descr{
        color: #989998;
        font-family: 'Archivo';
        font-size: 18px;
        font-weight: 400;
    }
    &_block_wrapp{
        border: 1px solid black;
        text-align: center;
        padding: 65px 0;
    }
    &__title{
        color: #f8f7fb;
        font-family: 'Roboto';
        font-size: 36px;
        font-weight: 400;
        line-height: 27px;
    }
    &__subtitle{
        color: #9a9a9a;
        font-family: 'Archivo';
        font-size: 22px;
        font-weight: 400;
        line-height: 34px;
        margin-top: 15px;
    }
    &__call{
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 67px;
        font-family: 'Archivo';
    }
    .call{
        text-decoration: none;
        color: white;
    }
    .number{
        color: darkred;
        margin-left: 10px;
        font-weight: 600;
        text-decoration: none;
    }

    &__subscribe{
        background-color: black;
        color: white;
        font-family: 'Archivo';
        font-style: italic;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.1em;
        padding: 16px 45px;
        margin-top: -2px;
        border: none;
        outline: none;
    }
    .btn_subscribe:hover{
        color: lime;
        font-weight: 600;
        letter-spacing: 0.1em;
    }
    &__email{
        height: 46px;
        width: 400px;
        padding-left: 25px;
        font-size: 16px;
        font-family: 'Roboto';
        font-weight: 600;
    }

    &__social{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    &__social_links{
        list-style-type: none;
    }

    .fab{
        margin-right: 20px;
        color: white;
        font-size: 28px;
        cursor: pointer;
    }
    .fa-linkedin-in:hover,
    .fa-facebook-f:hover{
        color: blue;
        transition:.3s;
    }
    .fa-youtube:hover,
    .fa-instagram:hover {
        color: #FD2321;
        transition:.3s;
    }
    .fa-twitter:hover{
        color: darkturquoise;
        transition: .3s;
    }
    // Bem modifiers
    // TODO: add code
}
