extends ../layouts/base.pug

//- TODO: include page-specific block templates

block page
    //- TODO: add code
    +navigation(data.navigation)
    +header(data.header)
    +choice(data.choice)
    +offer(data.offer)
    +publicity(data.publicity)
    +offer(data.offer2)
    +footer(data.footer)
    +copyrights(data.copyrights)