extends ../layouts/base.pug

//- TODO: include page-specific block templates

block productPage
    //- TODO: add code
    +navigation(data.navigation)
    +product(data.product)
    +offer(data.offer)
    +footer(data.footer)
    +copyrights(data.copyrights)