/**
 * Styles for the publicity block.
 */
.publicity {
    // Selector styles
    // TODO: add code
    background-color: gray;
    width: 100px;
    height: 100px;
    
    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
}
