//-
    name: choice
    description: Markup for the choice block
    arguments:
        - {object} props - block properties

mixin choice(data = {})
    .choice&attributes(attributes)
        .container
            .row
                .col-6.left_choice
                    a.forHer(href="#")= data.she
                .col-6.right_choice
                    a.forHim(href="#")= data.he