/**
 * Styles for the product block.
 */
.product {
    // Selector styles
    // TODO: add code

    // @media queries
    // TODO: add code
    @media (max-width: 768px) {
        .product {

            &__breadcrumb{
                display: none;
            }

            &__info {
                margin-left: 10px;
            }

            &__descr{
                width: 320px;
                text-align: justify;
                margin-top: 15px;
            }

            &__name {
                font-size: 24px;
                margin-top: 35px;
                text-align: center;
            }

            &__code{
                text-align: right;
                margin-top: 20px;
            }
            &__social__title {
                text-align: center;
                margin-top: 50px;
            }
            &__social {
                justify-content: space-around;
                margin-top: 15px;
            }
            &__line {
                display: block;
                margin-left: 60px;
                width: 200px;
            }
            &__tabs {
                width: 380px;
                margin-left: -30px;
                background-color: lightgray;
            }
            &__tabs-name{
                width: 80px;
            }
            &__comment-title {
                font-size: 18px;
            }
            &__admin-pic {
                margin-left: 5px;
            }
            &__admin {
                font-size: 18px;
                font-weight: 600;
            }
            &__line {
                margin-left: 0;
                width: 400px;
            }
            &__add-review, &__add-comment, &__add-name, &__add-email {
                margin-left: 0;
            }
            &__stars {
                margin-left: -50px;
            }
            &__star {
                width: 350px;
                display: flex;
            }
            &__shop {
                display: inline-block;
                font-size: 14px;
                padding: 10px 25px;
                border-radius: 12px;
                margin-right: 20px;
                margin-left: 90px;
            }   
            .contacts {
                width: 120px;
            }
            #area{
                height: 200px;
                width: 120px !important;;
                font-size: 16px;
                padding-left: 10px;
                margin-bottom: 20px;
                margin-left: 0 !important;
            }


            

        }
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__category, &__review, &__add-rating, &__add-review, &__admin, &__admin-comment, &__comment-title, &__descr, &__name, &__price, &__color, &__tabs-name, &__social__title, &__code {
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 400;
        color: #414243;
    }
    &__line {
        display: none;
    }

    &__nav {
        display: flex;
    }
    &__breadcrumb{
        margin-bottom: 25px;
        margin-top: 10px;
        display: flex;
        .breadcrumb__list::after {
            color: black;
            content: "/\00a0";
        }
        .breadcrumb__links {
            color: #5a5b5c;
            font-family: 'Roboto';
            font-size: 12px;
            font-weight: 600;
            text-decoration: none;
        }
    }
    .breadcrumb__links:active,
    .breadcrumb__links:hover {
        border-radius: 8px;
        font-weight: 600;
        color: deepskyblue;
    }

    &__info {
        margin-left: 50px;
    }

    &__name {
        font-family: "Myriad Pro";
        font-size: 36px;
        line-height: 20px;
    }

    &__code {
        color: #030303;
        line-height: 20px;
        margin-top: 10px;
    }
    &__price{
        color: #fc3e18;
        font-size: 28px;
    }

    &__stars, &__star {
        margin-left: -51px;
        width: 436px;
        font-size: 18px;
        letter-spacing: 8px;
        color: #9da1a6;
        display: flex;
        flex-direction: row-reverse;
        padding-left: 49px;
        justify-content: space-around;
      }

    &__review {
    width: 220px;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 0.3em;
    }
      
    .pointer {
    cursor: pointer;
    &:hover {
        transform: scale(1.5);
        transition: .5s ease;
    }
    }

    .rate, .rating {
    display: none;
        &:checked ~ label i {
            color: gold;
        }
    }

    &__category,
    &__descr {
        margin-top: 15px;
    }
    
    &__color {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    .btn__pink {
        height: 45px;
        width: 45px;
        background-color: pink;
        margin-top: 5px;
        border: none;
        outline: none;
        margin-right: 10px;
    }
    
    .btn__red {
        height: 45px;
        width: 45px;
        background-color: red;
        margin-top: 5px;
        border: none;
        outline: none;
    }

    &__social__title {
        margin-top: 20px;
    }

    &__social{
        display: flex;
        margin-bottom: 50px;
    }

    .fab {
        margin: 10px 5px;
        color: gray;
        font-size: 22px;
    }

    .fa-linkedin-in:hover,
    .fa-facebook-f:hover{
        color: blue;
        transition:.3s;
    }

    .fa-youtube:hover,
    .fa-instagram:hover {
        color: #FD2321;
        transition:.3s;
    }

    .fa-twitter:hover{
        color: darkturquoise;
        transition: .3s;
    }

    &__tabs{
        padding: 19px 50px 10px 38px;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
    }

    &__comment-title{
        font-family: 'Roboto';
        font-size: 24px;
        margin: 30px 10px 20px 50px;
    }

    &__admin-pic{
        height: 100px;
        width: 100px;
        margin-left: 50px;
    }

    &__admin {
        font-size: 20px;
    }

    &__add-review {
        font-size: 24px;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &__add-name, &__add-email, &__add-comment {
        font-size: 14px;
    }
    &__add-rating {
        font-size: 18px;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
    }

    hr {
        max-width: 600px;
        margin: 15px 0 15px 50px;
    }

    &__tab{
        text-align: center;
        cursor: pointer;
    }
    .tab:hover{
        color: red;
        font-weight: 600;
    }
    
    #area {
        height: 200px;
        width: 600px;
        font-size: 16px;
        padding-left: 10px;
        margin-bottom: 20px;
    }

    #email, #name {
        width: 600px;
        height: 40px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    

    &__shop{
        background-color: black;
        color: white;
        font-family: 'Archivo';
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.1em;
        line-height: 28px;
        border: 1px solid black;
        outline: none;
        padding: 20px 45px;
        margin: 30px 0 15px 50px;

    }
    &__shop:before {
        font-family: 'FontAwesome';
        content: "\f07a";
        color: white;
        position: absolute;
        top: 1280px;
        left: 90px;
        transition: all 900ms ease;
    }
    &__shop:before:hover {
        left: 160px;
        color: white;
    }


    // Bem modifiers
    // TODO: add code
}