/**
 * Styles for the copyrights block.
 */
.copyrights {
    // Selector styles
    // TODO: add code
    text-align: center;


    // @media queries
    // TODO: add code
    @media (max-width: 768px) {
        .copyrights{
            &__title{
                font-size: 12px;
                margin-bottom: 10px;
            }
        }
    }

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code
    &__title{
        color: #201c37;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Archivo';
        padding: 10px 0;
    }

    
    // Bem modifiers
    // TODO: add code
}
