/**
 * Styles for the copyrights block.
 */
.copyrights {
    // Selector styles
    // TODO: add code
    color: #201c37;
	font-size: 14px;
    font-weight: 400;
    font-family: 'Archivo';
    text-align: center;
    padding: 10px 0;

    // @media queries
    // TODO: add code

    // Pseudo-classes and pseudo-elements
    // TODO: add code

    // Nested selectors
    // TODO: add code

    // BEM elements
    // TODO: add code

    // Bem modifiers
    // TODO: add code
}
